<!DOCTYPE html>
<html>
  <head>
      <title>Dialodue</title>
      <script>

      let name = prompt("Какой день денели, чёрт подери?");

      if (name=="вторник") {
         alert('1. История 8:30 - 9:10\n2. Физика 9:20 - 10:00\n3. Биология 10:15 - 10:55\n4. Георграфия 11:10 - 11:50');
      } else if (name=="среда") {
         alert('1. Информатика 8:30 - 9:10\n2. Биология 9:20 - 10:00\n3. Обществознание 10:15 - 10:55\n4. Математика 11:10 - 11:50');
      } else if (name=="четверг") {
         alert('1. Биология 8:30 - 9:10\n2. Математика 9:20 - 10:00\n3. История 10:15 - 10:55\n4. Английский язык 11:10 - 11:50');
      } else if (name=="пятница") {
         alert('1. Физика 8:30 - 9:10\n2. Английский язык 9:20 - 10:00\n3. История 10:15 - 10:55\n4. Биология 11:10 - 11:50');
      }

      </script>

  </head>
</html>
